@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
}

#menu{
  width:20%;
  height:100vh;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

#board{
  width:80%;
  height:100vh;
  float: right;
}